In [41]:
import pandas as pd
from pandas import Series, DataFrame
from ast import literal_eval
from itertools import combinations
from datetime import datetime

comb_dict = {n: list(combinations(range(n), n-3)) for n in range(4, 15)}

def to_matrix(s):
    """Convert string of list of lists to np.array
    """
    res = np.array(literal_eval(s))
    return res.astype(np.float32)

def to_array(s):
    """Convert string of list of lists to np.array
    """
    return list(literal_eval(s))

def to_integer_kernel(a):
    n = len(a[0])
    A = matrix(ZZ, a).transpose()
    A_null = A.integer_kernel() # (n-3) x n
    return Matrix(A_null.basis())

def to_Pluecker(a):
    n = len(a[0])
    B = to_integer_kernel(a)
    res = []
    for c in comb_dict[n]:
        minor = B[:, c]
        res.append(minor.det())
    return res 

df = pd.read_csv("Pic4319.csv", converters={"matrix":to_array}, header=None, names=["matrix", "pic"])

# a = np.array([[ 1.,  0.,  0., -3.,  1.], [ 0.,  1.,  0.,  0., -2.], [ 0.,  0.,  1., -2.,  2.]])

df["pluecker"] = df["matrix"].apply(to_Pluecker)
log_file = str(datetime.now()) + ".csv"
df.to_csv(log_file, index=False)

                                           matrix  pic
0   [[1, 0, 0, -1], [0, 1, 0, -1], [0, 0, 1, -1]]   19
1   [[1, 1, 1, -3], [0, 4, 0, -4], [0, 0, 4, -4]]    1
2   [[1, 0, 0, -2], [0, 1, 0, -2], [0, 0, 1, -1]]   18
3   [[1, 1, 1, -5], [0, 3, 0, -6], [0, 0, 3, -3]]    4
4   [[1, 0, 0, -4], [0, 1, 0, -4], [0, 0, 1, -3]]   16
5  [[1, 1, 0, -8], [0, 3, 0, -12], [0, 0, 1, -3]]   10
6   [[1, 0, 0, -3], [0, 1, 0, -1], [0, 0, 1, -1]]   19
7   [[1, 1, 1, -5], [0, 2, 2, -4], [0, 0, 6, -6]]    1
8   [[1, 0, 0, -4], [0, 1, 0, -2], [0, 0, 1, -1]]   18
9   [[1, 1, 1, -7], [0, 2, 2, -6], [0, 0, 4, -4]]    3